/* Hero.css */

.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0 20px; /* Adjusted padding for better responsiveness */
    text-align: center; /* Center-align text on smaller screens */
}

.hero-content h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-content p {
    color: #171717;
    font-size: 36px; /* Adjusted font size for better readability */
    font-weight: 700;
}

.hero-icon-text {
    display: flex;
    flex-direction: column; /* Adjusted flex direction for better stacking on smaller screens */
    align-items: center; /* Center-align items */
    gap: 20px;
}

.hero-icon img {
    width: 80px; /* Adjusted image size for better fit on smaller screens */
}

.hero-latest-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 60px;
    max-width: 250px;
    margin-top: 30px;
    background: #ff4141;
    margin-left: 200px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
}

.hero-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .hero-content {
        padding: 0;
    }
   
    .hero-content h2 {
        font-size: 16px;
    margin-top: -55px; 
    }
    .hero-image{
       max-width: 500px;
    }
    .hero-image img{
        max-width: 310px;
    }
    .hero-content p {
        font-size: 28px; /* Adjusted font size for better readability */
        margin: 10px 0; /* Adjusted margin for better spacing */
    }

    .hero-icon img {
        width: 60px; /* Adjusted image size for better fit on smaller screens */
    }

    .hero-latest-btn {
        max-width: 180px;
        display: flex;
        flex-direction: revert;
        font-size: 18px;
        margin: auto;
        border-radius: 12px;
        margin-left: 100px;
        align-items: center; 
    }
    .hero-icon{
        display: flex;
    }
}
@media screen and (max-width: 550px){
    .hero{
        flex-direction: column-reverse;
    }
}